body{
    padding: 0;
    margin: 0;
    font-family: 'Arial';
}

#hra {
    width: 100%;
    min-height: 300px;
    background-color: yellow;
}

#menu {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ico {
    width: 60px;
}

.fet {
    font-size: 9pt;
    max-width: 60px;
    padding: 5px;
    margin: 5px;
}

.sportimg {
    flex-shrink: 1;
    object-fit: contain;
    height: auto;
}

.sel {
    border-style: none;
    border-width: 1px;
    padding: 4px;
    box-shadow: 0 0 3px #3182bd;
    transition: all 200ms ease-out;
}

#details {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green;
}

.detail {
    text-align: center;
}

#sport {
    display:flex;
    justify-content: center;
    width: 100%;
}